<footer>
  <section class="uk-container-large">
    <div class="up-divider"></div>
  </section>

  <section class="uk-container-large footer">
    <div class="main-footer">
      <div class="uk-grid">
        <div class="uk-width-1-4@m centered">
          <div class="uk-flex uk-flex-column">
            <div class="footer-logo">
              <img
                src="img/logo/desktop-logo.svg"
                alt=" Footer Logo"
                width="200"
                height="80"
              />
            </div>
            <div class="footer-social">
              <div class="social icon-container uk-margin">
                <a
                  href="https://twitter.com"
                  class="uk-icon-button"
                  uk-icon="twitter"
                ></a>
                <a
                  href="https://instagram.com"
                  class="uk-icon-button"
                  uk-icon="instagram"
                ></a>
                <a
                  href="https://linkedin.com"
                  class="uk-icon-button"
                  uk-icon="linkedin"
                ></a>
                <a
                  href="https://facebook.com"
                  class="uk-icon-button social-icon"
                  uk-icon="facebook"
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-width-3-4@m">
          <div class="uk-child-width-1-4@s uk-grid main-link">
            <div class="footer-link">
              <h4 class="title">Product</h4>
              <ul class="sublink">
                <li><a routerlink="">Features</a></li>
                <li><a routerlink="">Reviews</a></li>
                <li><a routerlink="">Affiliate Program</a></li>
                <li><a routerlink="">Use Cases</a></li>
                <li><a routerlink="">FAQ</a></li>
                <li><a routerlink="">Hevy Coach</a></li>
              </ul>
            </div>

            <div class="footer-link">
              <h4 class="title">Company</h4>
              <ul class="sublink">
                <li><a routerlink="">About</a></li>
                <li><a routerlink="">Contact Us</a></li>
                <li><a routerlink="">Careers</a></li>
                <li><a routerlink="">Press & Media</a></li>
                <li><a routerlink="">As Seen On</a></li>
              </ul>
            </div>

            <div class="footer-link">
              <h4 class="title">Resouces</h4>
              <ul class="sublink">
                <li><a routerlink="">Blog</a></li>
                <li><a routerlink="">Guides</a></li>
                <li><a routerlink="">Exercise Library</a></li>
                <li>
                  <a routerlink=""
                    >Compound vs Isolation <br />
                    Exercises</a
                  >
                </li>
                <li><a routerlink="">Public Apı</a></li>
              </ul>
            </div>

            <div class="footer-link">
              <h4 class="title">Guides</h4>
              <ul class="sublink">
                <li><a routerlink="">Best 3 day Workout Splits</a></li>
                <li><a routerlink=""> 4 day workout Split</a></li>
                <li><a routerlink=""> 5 day workout Split</a></li>
                <li><a routerlink="">Upper / Lower Split</a></li>
                <li><a routerlink="">Push Pull Legs (PPL)</a></li>
                <li><a routerlink="">Arnold Split Workout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-container-large">
    <div class="low-divider"></div>
  </section>

  <section class="uk-container-large">
    <div class="copy-right">
      <div class="">
        <ul class="uk-subnav uk-flex-left" uk-margin>
          <li><a routerlink="">Terms & Conditions</a></li>
          <li><a routerlink="">Privacy Policy</a></li>
          <li><a routerlink="">Status</a></li>
          <li><a routerlink="">Sitemap</a></li>
        </ul>
        <p class="text">
          Copyright © 2025 MotionMeet
        </p>
      </div>
    </div>
  </section>
</footer>
